.centro{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 12px;
    margin: 5px;
    padding: 1%;
}
.nombre{
    font-size: 200%;
    margin-bottom: -2%;
    margin-top: -2%;
}
.info_extra{
    line-height: 80%;
}
.retrato_cientifico{
    float: right;
    margin-right: 5%;
    text-align: center;
    line-height: 0%;
}
.imagen_cientifico{
    width: 80%;
    height: 80%;
}
.social{
   text-align: center;
}
.logo_social{
    width: 100px;
    height: 100px;
    float: left;
    padding-left: 5%;
}