#panelComentarios{

    background-color:rgba(0, 0, 0, 0.5);

    width: 30%;
    height: 100%;

    position:fixed;

    display: none;

    top: 0;
    right: 0;

    overflow-y:scroll;

    transition: 1s;
    
    box-shadow:       	0px 10px 30px  rgba(0,0,0,0.3);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
	-webkit-box-shadow: 0px 10px 30px  rgba(0,0,0,0.3);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow:    0px 10px 30px  rgba(0,0,0,0.3);  /* Firefox 3.5 - 3.6 */

}