{% extends "padre.html" %}

{%block head%}
    {% if imp == 0 %}
        {{ parent() }}
        <title>Cientifico</title>
        <link rel="stylesheet" href="styles/cientifico.css"> <!-- css de los elementos del articulo -->
        <link rel="stylesheet" href="styles/comentarios.css"> <!-- css de los comentarios -->
    {%elseif imp == 1%}
        <title>Impresion</title>
        <link rel="stylesheet" href="styles/imprimir.css"> <!-- css de imprimir -->
    {%endif%}
{%endblock%}

{% block central %}
<!-- Articulo central -->
<article class="centro">
    <div class="nombre">
        <h1>{{ cientifico['nombre'] }}</h1>
    </div>
    <div class="retrato_cientifico">
        <img src="{{ cientifico['path_foto1'] }}" class="imagen_cientifico" alt="{{ cientifico['pie_foto1'] }}" />
        <p>{{ cientifico['pie_foto1'] }}</p>
    </div>
    
    <div class="info_extra">
        <h2>{{ cientifico['fecha'] }}</h4>
        <h3>{{ cientifico['lugar'] }}</h5>
    </div>
    
    <p>
        {{ cientifico['descripcion1'] }}
    </p>
    <div class="retrato_cientifico">
        <img src="{{ cientifico['path_foto2'] }}" class="imagen_cientifico" alt="{{ cientifico['pie_foto2'] }}" />
        <p>{{ cientifico['pie_foto2'] }}</p>
    </div>
    <p>
        {{ cientifico['descripcion2'] }}    
    </p>
    <p>Para mas informacion:</p>
    <div class="social">
        <a href="{{ cientifico['wikipedia'] }}">
            <img src="images/logo_wikipedia.jpeg" class="logo_social" alt="Wikipedia">
        </a>
        <a href="https://www.primevideo.com/region/eu/detail/0P6EXBZKDMIDPWFN4EBV16AITV/ref=atv_dp_share_cu_r">
            <img src="images/logo_netflix.png" class="logo_social" alt="Netflix">
        </a>
        <a href="cientifico.php?ev={{cientifico['id']}}&imp=1">
            <img src="images/logo_imprimir.png" class="logo_social" alt="Imprimir">
        </a>
    </div>
</article>
{% endblock %}

{% block extra %}
<div id="desplegable">
    <div id="caja-comentarios">
        <!-- Pequeño truqui para traernos al html las palabras y poder acceder a ellas con el javascript
        saldran tal que: -primera-segnuda-tercera-             -->
        <div id="palabras_baneadas">
            -{%for i in 0..baneadas|length-1%}{{baneadas[i]}}-{%endfor%}
        </div>
        {%if usuario != "Empty"%}
            <form id="formulario" method="POST" action="aniadirComentario.php">
                <h4>Escribir comentario</h4>
                <input type="text" name="idCf" value="{{cientifico['id']}}" class="oculto">
                <p>Nick: <strong name="nick">{{usuario.nick}}</strong></p>
                <p>Tu comentario:</p>
                <input type="textarea" name="Texto" id="comentario-nuevo" oninput="palabras_baneadas()">
                <button type="submit">Enviar</button>
            </form>
        {%else%}
            <div>
                <p>Necesitas registrarte o iniciar sesión para poder comentar.</p>
            </div>
        {%endif%}
        <br>
        {% if comentarios|length > 0 %}
        <!-- Los ordeno de forma inversa (nuevos arriba) -->
        {% for i in 1..(comentarios|length) %}
            <div class="comentario-container">
                <div class="nombre-comentario">
                    {{ comentarios[comentarios|length-i]['nick'] }}
                </div>
                <div class="fecha">
                    {{ comentarios[comentarios|length-i]['fecha'] }}
                </div>
                <div class="contenido-comentario">
                    {{ comentarios[comentarios|length-i]['comentario'] }}                
                </div>
            </div>
       {% endfor %}
       {% endif %}
    </div>
    <div class="menu-boton">
        <form>
            <button type="button" id="boton-comentario">
                <img class="logo-comentarios" src="images/comentarios.png"/>
            </button>
        </form>
    </div>
</div>     
{% endblock %}
{% block js %} 
 <!-- no me ha quedado muy claro por qué debe estar al final y no al principio -->
 <script src="js/myScript.js"></script>
{% endblock %}