<!DOCTYPE html>
<html lang="es-ES">


<head>
  {% block head %}
      <link rel="stylesheet" href="styles/comunes.css"> <!-- css de elementos comunes -->
      <meta charset="utf-8" />
  {% endblock %}
</head>


<body>

{% block cabecera %}
  <header class="cabecera">
      <a href="index.php">
        <img src="images/logo/negro borde blanco.png" class="logo" alt="logo" />
      </a>
      <div class="titulo_y_menus">
          <div class="titulo">
              <h1>CIENTÍFICOS DEL MUNDO</h1>
          </div>
          <div class="menu"> <!-- Quizá debería ser una lista, pero me gusta mas como queda así-->
              <p>Menu 1</p>
              <p>Menu 2</p>
              <p>Menu 3</p>
          </div>        
      </div>
  </header>
{% endblock %}

<div class="cuerpo">
  {% block central %}
  <p>Parte central de la plantilla.</p>
  {% endblock %}

  {% block lateral %}
  <!-- Barra lateral a la que hemos dado el 20% del espacio -->
  <aside class="lateral"> 
      <p>Lista de enlaces utiles:</p>
      <ul>
          <li>Enlace 1</li>
          <li>Enlace 2</li>
          <li>Enlace 3</li>
        </ul>
  </aside>
  {% endblock %}
</div>

{% block extra %}
{% endblock %}

{% block footer %}
  <!-- Pie de pagina con mi info -->
  <footer class="Pie"> 
      <address>
          José Manuel Navarro Cuartero
      </address>
      <p>Sistemas de Información Basados en Web</p>
  </footer> 
{% endblock %}

{% block js %}
{% endblock %}
    
</body>

</html>