/* PAGINA ENTERA */
body {
    background-color:powderblue;
}
img {
    width: 90%;
    height: 90%;
}
/* HEADER, TITULO Y DEMAS */
.cabecera {
    background-color:aquamarine;
    display: grid;
    grid-template-columns: 20% 80%;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 12px;
    margin: 5px;
}
.logo{
    padding-left: 5%;
    margin-bottom: -5%;
}
.titulo_y_menus{
    display: grid;
    grid-template-rows: 60% 20% 20%;  
    margin-bottom: -3%;
    margin-top: -3%;
}
.titulo{
    text-align: left;
    padding-left: 20px;
    font-size: 180%;
}
.menu{
    display: grid;
    grid-template-columns: 10% 10% 10%;
    margin-left: 20px;
    margin-top: -10px;
}

/* CUERPO PRINCIPAL DE LA WEB*/
.cuerpo{
    display: grid;
    grid-template-columns: 80% 20%; /* la grid y el aside */
}
.grid_cientificos{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr)); 
    /* lo tenia como auto, pero se me deformaban las imagenes, ahora se siguen deformando, pero solo verticalmente */
    gap: 10px; /* Espacio entre los elementos */
    border: 1px solid rgb(0, 0, 0);
    border-radius: 12px; /* Borde redondeado */
    padding: 10px; /* Aire por dentro */
    margin: 5px; /* Aire por fuera */
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.459);
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 12px;
    padding: 3%;
}
.nombre_cientifico{
    text-align: center;
    margin-top: 3%;
    margin-bottom: -5%;
}

/* Lado */
.lateral{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 12px;
    margin: 5px;
    padding-left: 5%;
}

/* Pie de pagina */
.Pie{
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 12px;
    margin: 5px;
}